<div class="block__html">
{{block.settings.html}}
</div>

{% comment %}
{% blockdef %}
{
    "type": "html",
    "name": "HTML",
    "settings": [
    {
        "type": "textarea",
        "id": "html",
        "label": "HTML content"
    }
    ]
}
{% endblockdef %}
{% endcomment %}