<style>
    #askquestion{
        padding: 50px 0;
        background-color: #EEF6F8;
    }
    .askquestion{
        margin-top: 50px;
    }
    .askquestion .asked{
        background-color: white;
        border-radius: 20px;
        padding: 40px 50px;
        box-shadow: 0 0 10px gray;
        cursor:pointer;
        position:relative;
    }
    .askquestion .asked span.ficon{

        position: absolute;
        width: 20px;
        height: 20px;
        display: inline-block;
        left: 19px;
        top: 50%;
        transform: translateY(-50%);

    }
    .askquestion .asked span.ficon:before{
        content:"";
        width:100%;
        height:2px;
        background-color:#032d49;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
    }
    .askquestion .asked span.ficon:after{
        content:"";
        height:100%;
        width:2px;
        background-color:#032d49;
        position:absolute;
        left:0;
        right:0;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
    }
    .askquestion .asked p{
        font-size: 23px;
        line-height: 30px;
        color: rgb(31, 31, 31);
        margin-bottom:0 !important;
    }
    .question-wrap{
        margin-bottom: 20px;
    }
    .question-wrap.active .asked span.ficon:after{
        opacity:0;
    }
    .askquestion .answer{
        border-left: 4px solid rgb(65, 65, 65);
        border-radius: 5px;
        padding-left: 30px;
        margin: 50px;
        display:none;
    }
    .askquestion .answer p{
        line-height: 30px;
        color: rgb(31, 31, 31);
    }

    @media only screen and (max-width: 990px) {
        #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #commentreview h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2{
            font-size:21px;
            line-height: 30px;
            padding-left: 15px;
        }
        #askquestion h2:before, .sectionten h2:before, #sectiontherty h2:before,  #sectionnine h2:before, #sectioneight h2:before, #sectionfive h2:before, #postsecone h2:before, #postsectwo h2:before{
            width:3px;
        }
        #askquestion h2:before, #sectiontherty h2:before, #sectionnine h2:before, #sectioneight h2:before, #sectionfive h2:before, #postsecone h2:before, #postsectwo h2:before, .commont-section h2:before{
            top:0;
            width:3px;
        }
        #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2, .commont-section h2{
            padding-left:25px;
        }
        .askquestion .answer{
            margin:20px 15px;
        }
        .askquestion .asked {
            background-color: #fff;
            border-radius: 20px;
            padding: 20px 25px 20px 50px;
            box-shadow: 0 0 10px grey;
        }
        .askquestion .asked p {
            font-size: 18px;
            line-height: 25px;
        }
        #askquestion h2{
            margin-bottom:45px;
        }
        .containern{
            padding:0 25px;
        }
        #askquestion h2, #sectiontherty h2, #sectionnine h2, #sectioneight h2, #sectionfive h2, #postsecone h2, #postsectwo h2, #postsecthree h2, #sectiontwelve h2, .commont-section h2{
            font-size: 21px;
            line-height: 30px;
        }
    }
</style>

<section id="askquestion">
    <div class="containern">
        <h2>Frequently Asked Questions</h2>
        <div class="textcontainer askquestion">
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Is this a scam? Do you have any evidence it works?</p>
                </div>
                <div class="answer">
                    <p>UVC disinfection is not a scam. Many scientific studies, including CDC and EPA studies, prove that UVC light kills almost all biological pollutants and germs. <br><br>
                        For example, a study published in the Asian Pacific Journal of Tropical Biomedicine named "Effect of germicidal UV-C light(254 nm) on eggs and adult of house dust mites, Dermatophagoides pteronyssinus and Dermatophagoides farinae" showed the efficacy of UVC on killing dust mites and their eggs.<br><br>
                        The EPA also states that "UV lamps may destroy indoor biological pollutants such as viruses, bacteria, and molds."<br><br>
                        In addition to UVC, countless research suggests that Ozone fumigation applied at appropriate concentrations could effectively control several disturbing organisms like dust mites, bacteria, viruses, pests, etc.<br><br>
                        UVO254™ lamps combine both UVC and Ozone for maximum effectiveness.
                    </p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Is Uvlizer UVO254™ Lamp Safe?</p>
                </div>
                <div class="answer">
                    <p> UVO disinfection is perfectly safe if it's used correctly.<br><br>
                        Because exposure to UVC light can damage your skin or eyes (like exposure to sun rays would do), you need to keep people, pets, and plants out of the room while Uvlizer is working. This is the small price you pay for a 99.99% allergen-free, germ-free, and garden-fresh space.<br><br>
                        The Uvlizer Home Disinfection device also has two great features to avoid accidental exposure to the UVC light or the Ozone. (1) It has a remote control that can be used from afar, and (2) it has a self-delay timer for up to 30 seconds with beeping sounds allowing one to leave the room before the bulb lights up.
                    </p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>How is the UVO254™ Lamp different from traditional UVC lamps or Ozone generators?</p>
                </div>
                <div class="answer">
                    <p>UVO254™ Lamps combine UV-C and Ozone to allow room-wide air and surface cleaning.<br><br>
                        Traditional UV-C lamps can be great! It has been proven that they kill 99.9% of biological pollutants. Airlines and hospitals are even using them to ensure the safety of their spaces.<br><br>
                        But there's a catch...<br><br>
                        UV-C light is most effective when it lands directly on surfaces. If it's reflected, it quickly loses efficiency. As a result, UV-C lamps alone are ineffective for home use. A better solution is to use UV-C handheld devices to apply direct light to surfaces. But who has time for that? Plus, that doesn't disinfect the air.<br><br>
                        Ozone can be great on its own for some purposes as well. It reacts with germs, bacteria, viruses, and other organic compounds, giving it disinfectant properties.<br><br>
                        That's why it's used in hospitals and operating rooms. However, depending on the size of the room, a traditional ozone generator should run for at least 3 to 10 hours. For a whole house, at least 25-30 hours of continuous operation is required to eliminate most pollutants.<br><br>
                        Additionally, you should avoid staying in the room while the ozone generator is running and find a new place to stay. After that, you need to wait another 4-6 hours for the Ozone to dissipate.<br><br>
                        So by combining UVC and Ozone, you can get synergistic disinfection and increase the effectiveness of UVC while decreasing the time required for Ozone to work. In 15-60 minutes, you'd get the same level of sanitization as someone running an Ozone generator for 25-30 hours!<br><br>
                        Using UVO254™ bulbs, Uvlizer's lamp disinfects a room from top to bottom, including hard-to-reach places and even the air.</p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Does it work on mold?
                    </p>
                </div>
                <div class="answer">
                    <p>UVC light does work on mold. However, some molds are more difficult to kill and may take longer exposure times or multiple exposures.
                    </p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Does it work on bed bugs? Insects? ...
                    </p>
                </div>
                <div class="answer">
                    <p>Yes, UVO254™ lamps effectively kill bed bugs, pests, and insects.<br><br>
                        Etymologists (scientists who study insects) and other specialists agree that UVC light can kill insects and pests by mutating their DNA. Also, Ozone in its gaseous form can kill insects and pests primarily by targeting their respiratory system.
                    </p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>What happens to allergens and germs after being broken down?
                    </p>
                </div>
                <div class="answer">
                    <p>The UVO254™ Lamp breaks down the allergens' DNA completely, making them non-identifiable to the human body and thus ineffective at triggering an allergic reaction.</p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>How long does the bulb last? What if I need a new bulb?
                    </p>
                </div>
                <div class="answer">
                    <p>The lifetime of the UV bulb is very long! It's over 5,000 hours. Think of it this way: if you use it every day, it will take more than 12 years to reach 5,000 hours.<br><br>If you do need a replacement bulb, don't hesitate to get in touch with us, and we can order one for you.</p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Does the UV light lose potency over time?
                    </p>
                </div>
                <div class="answer">
                    <p>The UV output of all light tubes will very slowly decrease over time due to the buildup of residue inside the tube. However, industry experts say that you can operate a light tube continuously for up to a year - or 9,000 hours - before you need to replace it due to diminished UV output. That is well beyond the lifetime of the Uvlizer bulb, which is 5,000 hours, and will provide many years of effective sanitization.
                    </p>
                </div>
            </div>
            <div class="question-wrap">
                <div class="asked">
                    <span class="ficon"></span>
                    <p>Can I use Uvlizer to sterilize my phone or other personal items?
                    </p>
                </div>
                <div class="answer">
                    <p>Although it's better to use our UVBox, which is specifically designed for this, you can use Uvlizer by creating a disinfecting room and putting everything you want to disinfect in the room.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="preload" as="script" href="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">

<script>
    $(".question-wrap").click(function () {
        $(this).toggleClass("active").siblings().removeClass("active");
        $(this).children(".answer").slideToggle();
        $(this).siblings().children(".answer").slideUp();
    })
    $(".pselection:first-child").addClass("selected");
    $(".pselection").click(function () {
        var qty = $(this).attr("data-qty");
        var variant = $(this).attr("v_id");
        $(".addcart").attr({
            v_id: variant,
            v_qty: qty
        });
    });
</script>
