<style>
    .bottom-banner {
        overflow: hidden;
    }

    .bottom-banner__image {
        min-height: 405px;
        min-width: 1200px;
    }

    @media screen and (min-width: 768px) {
        .bottom-banner__image {
            min-height: unset;
        }
    }
</style>

<section class="bottom-banner">
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Group_1945.png?v=1738238014" alt="Bottom banner image" class="bottom-banner__image image-desktop">
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Group_2002.png?v=1738244028" alt="Bottom banner image" class="image-mobile" style="max-height:100%">
</section>