<style>
    .bottom-banner {
        overflow: hidden;
    }

    .bottom-banner__image {
        min-height: 405px;
        min-width: 1200px;
    }

    @media screen and (min-width: 768px) {
        .bottom-banner__image {
            min-height: unset;
        }
    }
</style>

<section class="bottom-banner">
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/French_Photos.png?v=1736503651" alt="Bottom banner image" class="bottom-banner__image">
</section>