<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

{% style %}
section.brands {
  position: relative;
  margin: 80px 0;
  padding: 40px 0;
  background: #EDF5F7;
  overflow: hidden;
}
section.brands .product-container {
  padding: 0; 
}
.brandSwiper .swiper-wrapper {
  align-items: center;
	transition-timing-function: linear !important;
}
.brands img.hover-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  box-shadow: 0px 0px 71px 61px #ecf5f7;
  background: #ecf5f7;
  pointer-events: none;
}
.marquee {
/*   overflow: hidden; */
}

.marquee-content {
	display: flex;
	align-items: center;
	animation: scrolling 50s linear infinite;
}
.marquee-item {
	width: 142px;
	display: flex;
	justify-content: center;
	margin-right: 62px;
}
.marquee-item img {
  display: block;
  min-width: 69px;
}
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-144vw); }
}
{% endstyle %}

<section class="brands">
  <div class="product-container">
    <div class="marquee">
      <div class="marquee-content">
      {% for block in  section.blocks %}
          <div class="marquee-item">
              <img src="{{ block.settings.image.src | image_url }}">
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
  <img class="hover-img" src="{{ section.settings.image.src | image_url }}">
</section>

<script>
if (document.querySelectorAll('.marquee').length > 0) {
  var marqueeContent = document.querySelector('.marquee-content');
  var marqueeItems = marqueeContent.innerHTML;

  for (var i = 0; i < 12; i++) {
    marqueeContent.innerHTML += marqueeItems;
  }
}
</script>

{% schema %}
{
  "name": "Brands",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hover Image"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}