<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>Uvliser</title>
  
  
  <style>
    
.top-header{
    height:32px;
}

.mobile{
    display:none
}

.pad{
    padding-right: 200px;
    padding-left: 200px;
}

.Uvlizer-header {
    background-color: #476896;   
    height:52px;
}

.top-logo{
    margin-bottom: 15px;
}


.centered { 
    text-align:center ;
    width: 100%;
}



.section {
    margin-top: 75px;
}



.Title {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.intro {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

.image-container{
    text-align: center;
}

.composant-title {
    font-weight: bold;
    font-size: 25px;
}

.component-content{
    font-size: 15px;
}

.reviews-container{
    background: rgba(71, 104, 150, 0.13);
border: 3px dashed #476896;
box-sizing: border-box;
line-height: 500px;
font-weight: bold;
text-align: center;
font-size: 30px;
height: 499px;
}

.discount-component{
    background: rgba(71, 104, 150, 0.13);
border: 2px solid #476896;
box-sizing: border-box;
padding:30px;
}

.exclusive-discount{
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
text-align: center;
}
.exclusive-discount-p{
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
text-align: center;
}

.bold{
    font-weight: bold;
}

.get-discount{
    color: white;
    background: #476896;
    width: 278px;
height: 42px;
border:none;
border-radius: 5000px;
font-weight: bold;
}



.high{
    color: red;
    font-weight: bold;
}

.sellout-shipping{
    font-size: 9px;
line-height: 11px;
margin-top: 11px;

}

.button-text{
    padding-right: 15px;
    font-size: 16px;
}


.footer{
    height: 170px;

    background-color: #000000;
}


.exclusive-discount-text{
    margin-top: 40px;
}

.bottom-logo{
    padding-top: 58px !important;
    padding-bottom: 64px !important;
}

.delivery{
    margin-right: 10px;
}
@media (max-width: 411px) {
    .container {
      padding-right:25px;
      padding-left:25px;
      margin:0;
    }

    .res-image{
        width: 100%;
    }

    .reviews-container{
        margin-top:30px ;
    }

    .Title, .intro{
        text-align: left ;
    }

    .composant-title {
        margin-top: 20px;
    }

    .non-mobile{
        display: none;
    }
    .mobile{
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }

    .component-content{
        margin-top: 20px;
    }

    .discount-component{
        width: 100%;
    }
    
}
  </style>  
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark top-header">
        <div class="container-fluid ">
            <a class="navbar-brand centered" style="font-size: 11px" href="#">FLASH SALE ENDING SOON!</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm Uvlizer-header ">
        <div class="container-fluid ">
            <span class="navbar-brand centered "><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/LOGO_1.png?v=1649180892" class="top-logo" alt="Uvliser"> </span>
        </div>
    </nav>
    <div class="container pad">
        <h1 class="Title">5 Reasons Why 1,000s of Allergies Sufferers & Doctors Are Switching
            To Uvlizer</h1>
        <h6 class="intro">And here are 5 big reasons why Americans are abandoning old, ineffective methods of purifying
            indoor air and switching to the most innovative, powerful and effortless device to fight uur and perma
            induers Uvlizer Disinfection Tower</h6>
        <div class="row section">
            <div class="col-12 col-lg-6 image-container">
                <h4 class="composant-title mobile">1. Bathes the entire room 360° and sanitizes all surfaces and the
                    air.</h4>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_1.png?v=1649180892" alt="Uvliser">
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">1. Bathes the entire room 360° and sanitizes all surfaces and the
                    air.
                </h4>
                <p class="component-content">Chemical products may clean and partly disinfect surfaces, but no product
                    will disinfect the air!
                    Unlike them, Uvlizer's light gmnitizes both the surfaces AND the air, 360 round. It's extremely
                    important while fighting indoor allergens because most of them are floating in the air! Uvlizer
                    destroys 99,99% of bacterias and microorganism and alleviates allergy symptoms like sneezing,
                    coughing, skin rash, swollen eyes.</p>
            </div>
        </div>



        <div class="row section">
            <h4 class="composant-title mobile">2. An effective method that is well known by doctors and hospitals.
            </h4>
            <div class="col-12 col-lg-6 image-container"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_2.png?v=1649180892" alt="Uvliser"></div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">2. An effective method that is well known by doctors and hospitals.
                </h4>
                <p class="component-content">Sterilization abilities of the UVC light were discovered almost 150 years
                    ago! For the last few decades, UVC lights has been regularly used in hospitals to fight all bacteria
                    and germs and provide sterile cleaness and safety to the patients. Uvlizer is the same method
                    applied in a smaller device; it’s commonly used in doctors offices, dentists offices, and massage
                    rooms.</p>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-lg-6 image-container">
                <h4 class="composant-title mobile">3. Eliminates bad odors (instead of just masking them).
                </h4>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_3.png?v=1649180892" alt="Uvliser"></div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">3. Eliminates bad odors (instead of just masking them).
                </h4>
                <p class="component-content">Bad odor is a side effect of unclean air. Whatever causes it (smoke, pets,
                    garbage, mold, etc.), Uvlizer will help you get rid of nasty smell and enjoy clean, fresh air. How?
                    The dual power of Uvlizer combines UVC light and ozone. Ozone attaches to pollutants’ cells and
                    destroys them. That’s how Uvlizer fights the problem of bad odors at its roots instead of just
                    masking them with chemical sprays! </p>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-lg-6 image-container">
                <h4 class="composant-title mobile">4. Uvlizer vs air purifiers: less $$, less noise, less hustle, more
                    effectiveness
                </h4>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_4.png?v=1649180892" alt="Uvliser"></div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">4. Uvlizer vs air purifiers: less $$, less noise, less hustle, more
                    effectiveness
                </h4>
                <p class="component-content">Air purifiers’ users know that the effectiveness of these devices is highly
                    questionable… Apart from that, they are mostly very expensive, large, noisy and require changing
                    filters every few months or even weeks. Uvlizer uses scientifically proven, 100% effective method of
                    UVC light and is a one time investment. Two 38W bulbs in Uvlizer can easily disinfect a whole 250 sq
                    ft room like a bedroom, living room, or kitchen.</p>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-lg-6 image-container">
                <h4 class="composant-title mobile">5. Thousands of Loving Fans
                </h4>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_5.png?v=1649180892" alt="Uvliser"></div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">5. Thousands of Loving Fans
                </h4>
                <p class="component-content">More and more Americans are getting aware of the impact indoor air has on
                    their health, so they actively search for effective solutions. That’s why, only in the last year
                    Uvlizer has been sold in thousands of units. Every day people realize how powerful and effortless
                    using Uvlizer is (you press the button, leave the room for 15 min and just let the Uvlizer do the
                    work). Eliminating dust and germs leads to alleviating nagging allergy symptoms and decreases the
                    risk of many other diseases (like asthma)!</p>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-lg-6 image-container">
                <h4 class="composant-title mobile">6. Deeply penetrates the cells of dust mites eggs, breaks their DNA, and
                    impair the hatching process
                </h4>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_6.png?v=1649180892" alt="Uvliser"></div>
            <div class="col-12 col-lg-6">
                <h4 class="composant-title non-mobile">6. Deeply penetrates the cells of dust mites eggs, breaks their DNA, and
                    impair the hatching process
                </h4>
                <p class="component-content">UVC light is harmful to microorganisms because it breaks down certain
                    chemical bonds in their cells, and scrambles the structure of their DNA, RNA, and proteins.
                    Destroying microorganisms’ DNA and RNA makes them unable to reproduce and no longer infectious.
                    That’s why, turning on the Uvlizer is the simple recipe for fighting germs and microbes: so
                    advanced, yet so easy!</p>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-wrap section">
            <div class="col-12 col-lg-6"><img class="res-image" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_7.png?v=1649180892" alt="Uvliser">
            </div>
            <div class="col-12 col-lg-5 reviews-container">
                REVIEWS
            </div>
        </div>

        <div class="d-flex justify-content-center section">
            <div class="col-lg-10 discount-component">
                <h3 class="exclusive-discount">Get Exclusive Discount!</h3>
                <h3 class="exclusive-discount-p">Join the <b class="bold">#uvlizerercommunity</b> and Try Uvlizer While
                    It’s On Sale Now! </h3>
                <div class="row">
                    <div class="col-12 col-lg-6" style="text-align: center;">
                        <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/image_8.png?v=1649180892">
                    </div>
                    <div class="col-12 col-lg-6 exclusive-discount-text">
                        <p><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/tick.png?v=1649180892"> Extremely efficient in destroying bacteria, dust and
                            microorganisms</p>

                        <p><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/tick.png?v=1649180892"> Provides clean, fresh and germ-free air</p>

                        <p><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/tick.png?v=1649180892"> Eliminates bad odors</p>

                        <p><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/tick.png?v=1649180892"> Significantly alleviates symptoms of indoor allergies</p>
                        <div style="text-align: center;">
                            <button class="get-discount"><span class="button-text">Get Exclusive Discount!</span><img
                                    src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Arrow.png?v=1649180892" /></button>
                            <div class="row sellout-shipping">
                                <div class="col-6 col-lg-6">SELLOUT RISK: <span class="high">HIGH</span></div>
                                <div class="col-6 col-lg-6"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/delivery.png?v=1649180892" class="delivery" /> FREE
                                    SHIPPING</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
            <div class="col-12 col-lg-12 centered">

                <div class="row sellout-shipping">
                    <div class="col-12 col-lg-12"> <button class="get-discount"><span class="button-text">Get Exclusive
                                Discount!</span><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Arrow.png?v=1649180892" /></button>
                    </div>
                    <div class="col-6 col-lg-6" style="text-align: right;padding-right:45px;padding-top:15px; ">SELLOUT
                        RISK: <span class="high">HIGH</span></div>
                    <div class="col-6 col-lg-6" style="text-align: left;padding-left:45px;padding-top:15px;"><img
                            src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/delivery.png?v=1649180892" class="delivery" />FREE SHIPPING</div>
                </div>
                
            </div>
        </div>


    </div>


    <footer class="bg-dark text-center text-lg-start footer">
        <div class="text-center p-3 bottom-logo"> <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo.png?v=1649180892">
        </div>
    </footer>
</body>

</html>