 {{ 'slick.css' | asset_url | stylesheet_tag }} 
{{ 'nlanding.css' | asset_url | stylesheet_tag }}



  <div class="mobile-header monly">
   <div class="brand">
                    <h2><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772" ></h2>
                </div>
   <p>Toll Free : +1 (844) 924-1072</p>
    <div class="hburger">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/hburger.png?v=1654187608" >
                </div>
  </div>
<div class="mobile-menu monly">
  <div class="mobile-menu-inner">
  		 <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
            <li><a href="#sectionten" class="back-to-top">Benefits </a></li>
            <li><a href="#review" class="back-to-top">Testimonials</a></li>
            <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
            <li><a href="#shopify-section-product-landing" class="back-to-top">Order </a></li>
        </ul>
  	
  </div>

</div>



<div id="trustpilotbazz" class="monly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
            </div>
        </div>
    </div>
 <header class="nheader">
        <div class="containern">
            <div id="headertop" class="donly">
                <div class="brand">
                    <h2><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-new.png?v=1654107772" ></h2>
                </div>
                <p>Toll Free : +1 (844) 924-1072</p>
                <nav> 
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#sectionsix" class="back-to-top">What's UVO254?</a></li>
                        <li><a href="#sectionten" class="back-to-top">Benefits </a></li>
                        <li><a href="#review" class="back-to-top">Testimonials</a></li>
                      <li><a href="#askquestion" class="back-to-top">FAQ </a></li>
                      <li><a href="#shopify-section-product-landing" class="back-to-top">Order </a></li>
                    </ul>
                </nav>
            </div>
            <div id="headerbottom">
                <div class="hbleft">
                    <h1>New Tool Eradicates The #1 Root Cause Of Allergies</h1>
                    <p>If you’d like to relieve sneezing, coughing, itchy, runny, or stuffy nose…</p>
                    <p>And FINALLY, start enjoying a clean, allergy-free (and disease-free) space WITHOUT having to worry about :</p>
                    <ul>
                        <li>Buying costly air purifiers and their ongoing filter replacement</li>
                        <li>Toxic chemicals that kill allergens but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without any fix long term</li>
                        <li>Daily pills that only treat the symptoms without any fix long term</li>
                        <li>Having to daily clean your home from top to bottom like crazy</li>
                    </ul>
                    <p>Having to daily clean your home from top to bottom like crazy...</p>
                    <br>
                    <a href="#" class="knowmorebtn">Know More</a>
                </div>
                <div class="hbright">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/ficon.png?v=1654164436" alt="">
                </div>
            </div>
        </div>
    </header>
	<div class="content-holder monly">
      <div class="containern">
      <div class="hbleft">
                    <p>If you’d like to relieve sneezing, coughing, itchy, runny, or stuffy nose…</p>
                    <p>And FINALLY, start enjoying a clean, allergy-free (and disease-free) space WITHOUT having to worry about :</p>
                    <ul>
                        <li>Buying costly air purifiers and their ongoing filter replacement</li>
                        <li>Toxic chemicals that kill allergens but also kill you along the way</li>
                        <li>Daily pills that only treat the symptoms without any fix long term</li>
                        <li>Daily pills that only treat the symptoms without any fix long term</li>
                        <li>Having to daily clean your home from top to bottom like crazy</li>
                    </ul>
                    <p>Having to daily clean your home from top to bottom like crazy...</p>
                </div>
      
      </div>

		</div>

    <div id="trustpilotbazz" class="donly">
        <div class="containern">
            <div class="tustpilotbazz">
                <h3>Excellent</h3>
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/trusted_pilot.jpg?v=1654107771" alt="">
            </div>
        </div>
    </div>
    <section id="commentreview">
        <div class="containern">
            <div class="commentreview">
                <div class="crleft">
                    <p>Because Americans are now rushing to grab these
                        UVO254TM Lamps at a deeply discounted price,
                        and as a consequence, it’s running out of stock
                        super fast!</p>
                    <p>Furthermore, because of the current state of the
                        world, when it does run out of stock, we will not be
                        able to sustain the discount or even guarantee
                        that the product will be available prior to the end
                        of allergy season, let alone guarantee that it will
                        remain at its original price thereafter. (You can find
                        the remaining quantity available by scrolling
                        down)</p>
                </div>
                <div class="crright donly">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/comment_1.jpg?v=1654107771" alt="">
                </div>
            </div>
        </div>
      
      <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r1.png?v=1654193446"></div>
        	<div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r2.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r3.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r4.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r5.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r6.png?v=1654193446"></div>
        </div>
      
      </div>
      
      
    </section>
    <section id="postsecone">
        <div class="containern">
            <h2>Wipe Out Allergens And Pollutants From Your Space</h2>
           <p class="monly">Uvlizer’s revolutionary UVO254 Lamp eradicates allergy-causing biological
                        pollutants from their roots in 15 minutes. It does that by tearing down the
                        little molecules that constitute these allergens.</p>
            <div class="postsecone">
                <div class="psoleft">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/gym_44.jpg?v=1654107771" alt="">
                </div>
                <div class="psoright">
                    <p class="donly">Uvlizer’s revolutionary UVO254 Lamp eradicates allergy-causing biological
                        pollutants from their roots in 15 minutes. It does that by tearing down the
                        little molecules that constitute these allergens.</p>
                    <p>This is what we call eradicating allergy from its ROOT.</p>
                    <p>No more back-breaking cleaning… In fact, you can now even stop cleaning
                        your home…</p>
                    <p>And yet STILL have an allergen-free indoor space just by using this piece of
                        engineering called UVO254 TM Lamp.</p>
                    <p>Don’t take our words for it…</p>
                </div>
            </div>
        </div>
    </section>
    <section id="postsectwo">
        <div class="containern">
            <h2>Listen To What This Doctor Has To Say About Uvlizer</h2>
            <iframe style="margin-top: 30px;" width="100%" height="367" src="https://www.youtube.com/watch?v=KIiD4MA5sfk&t=251s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="pstwocenter" id="review">
                <div class="pstleft">
                    <ul>
                        <li>Kills dust mites and their eggs, mold, mildew, germs,
                            bacteria, viruses… and other biological threats</li>
                        <li>Alleviates sneezing, runny nose, and other nasty allergy
                            symptoms</li>
                        <li>Makes your indoor air, feel cleaner, crisper, and easier to
                            breath</li>
                        <li>Reduces your brain fog and makes your head feel clearer</li>
                        <li>Safely evicts pests that might be crawling in the
                            basement or under your bed</li>
                        <li>Removes foul odors caused by bacteria, cooking oils,
                            toxic air fresheners, tobacco smoke, and even pets</li>
                        <li>Disinfects the surfaces and the air at the same time,
                            making everything you interact with at home safer</li>
                        <li>Decreases the risk of infection and indoor transmission
                            of disease from one person to another</li>
                    </ul>
                </div>
                <div class="pstright donly">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/second_comment.jpg?v=1654107771" alt="">
                </div>
            </div>
       
   
        </div>
      
      
         <div class="review-slider-wrapper monly">
        <div class="review-slider">
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r1.png?v=1654193446"></div>
        	<div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r2.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r3.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r4.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r5.png?v=1654193446"></div>
          <div class="rsl"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/r6.png?v=1654193446"></div>
        </div>
      
      </div>
      
      <div class="containern">
               
            <div class="postwobottom">
                <h3>YOU’VE PROBABLY SEEN US ON</h3>
                <img class="donly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/payable_icon_f04b1356-f58a-4009-98ed-75a4a73b1037.jpg?v=1654107771" alt="">
              <img class="monly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/logo-m.png?v=1654168164?v=1654107771" alt="">
              
            </div>
      </div>
      
      
      
    </section>
    <section id="postsecthree">
  
      
        <div class="containern">
                <h2>Your Home Is A Cosy Space For Allergens,<br> Even If You Use A Purifier</h2>
            <div class="postsecthree">
                <div class="pstrleft">
                    <p>According to the EPA, air pollutants are often 2 to
                        5 times higher indoors than outdoor, and in some
                        cases, these levels can exceed 100 times that of
                        outdoor levels.</p>
                    <p>The same agency also states that we spend
                        about 90% of our time indoors…</p>
                    <p>The same agency also states that we spend
                        about 90% of our time indoors…</p>
                    <p>So you might be planning to buy an air purifier, or
                        you might even have one already. As most
                        people do, you might think that getting a HEPA air
                        filter will be just enough to relieve allergy
                        symptoms…</p>
                </div>
                <div class="pstrright">
                    <img class="donly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img1.png?v=1654131593" alt="">
                   <img class="monly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/mimage1.png?v=1654168651" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="sectionfour">
        <div class="containern">
            <h2>Unfortunately, this couldn’t be further from the truth…</h2>
            <div class="sectionfour">
                <div class="sfleft">
                    <img class="donly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img2.png?v=1654131710" alt="">
              			<img class="monly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/mimage2.png?v=1654169231" alt="">
              
              
              </div>
                <div class="sfright">
                    <p>Even if you’re getting an expensive air purifier that’s truly HEPA, there’s a
                        serious flaw in <u>how these machines work.</u></p>
                    <p>Let me explain: <br>
                        Let’s imagine you get home after a long day at work. You decide to chill
                        a bit on the sofa before resuming your day…
                        If you have a HEPA filter running, the chances are that the air you’ve
                        been breathing just before you sit is free from allergens.</p>
                    <p>Let’s imagine you get home after a long day at work. You decide to chill
                        a bit on the sofa before resuming your day…
                        If you have a HEPA filter running, the chances are that the air you’ve
                        been breathing just before you sit is free from allergens.</p>
                    <p>This is just one example of how you come into contact with allergens
                        daily even if you use a HEPA air purifier. Unless you have an air purifier
                        stuck to your nose, you will breathe those particles and flare up your
                        allergy symptoms.</p>
                    <p>The only way to make sure your home is free from all pollutants and
                        allergens is to <u>clean the air and the surfaces simultaneously.</u></p>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionfive">
        <div class="containern">
            <h2>Are you going to do this instead?</h2>
            <div class="sectionfive">
                <div class="sfiveleft">
                    <p>The common advice is to dust and clean regularly. We
                        are told that it’s the only way to avoid allergens.
                        But it’s so tiring and inefficient.</p>
                    <p>Are you going to get on a ladder and start cleaning
                        every corner of the room?</p>
                    <p>Are you going to get on a ladder and start cleaning
                        every corner of the room?</p>
                    <p>And what about those chemicals you’re going to use in
                        the process?</p>
                    <p>What if there was a powerful solution that could clean
                        for you from top to bottom? The curtains, the floor, the
                        furniture, the ceiling… can all be allergy-free.</p>
                </div>
                <div class="sfiveright">
                    <img class="donly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img3.png?v=1654131778" alt="">
                   <img class="monly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/mimage3.png?v=1654169487" alt="">
                </div>
            </div> 
            <div class="sectionfivebottom">
                <p><strong>This solution exists!</strong> Spoiler: It’s not air purifiers.</p>
            </div>
        </div>
    </section>
    <section id="sectionsix">
        <div class="containern">
            <h2>Introducing The Power of</h2>
            <h3>UVO0254<sup style="font-size: 15px;">TM</sup> Bulbs</h3>
            <div class="secsiximg">
                <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/img4.png?v=1654131889" alt="">
            </div>
        </div>
    </section>
    <section id="sectionsaven">
        <div class="containern">
            <p>The UVO254™ Bulb is a revolutionary device that allows Uvlizer’s lamps to be
                99.9% effective at killing dust mites, bacteria, germs, and even foul smells and
                bugs. It combines the germicidal power of UV rays at 254nm (The most studied
                and optimum wavelength for maximum disinfection efficacy) and Ozone’s
                oxidative properties.</p>
        
          
          	
          
        </div>
        <div class="review-slider-wrapper donly">
        <div class="partners__section">
		<div class="containern">
			<div class="outer__partners">
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:75px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>

				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2.png?v=1654412065
" alt="partner1">
					</div>
					<p>"Historically, it's been homeless shelters and medical centers," said Daniel Jones, president of UV Resources of Santa Clarita, Calif, a manufacturer of the fixtures used by the airport. Sales are up tenfold in the past month. "The demand is though the roof," he said.</p>
				</div>
				<div class="elem__partner">
					<div class="partner__logo">
						<img  style="width:100px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda3.png?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>
			</div>
		</div>
	</div>
      
      </div>
      
      	  <div class="review-slider-wrapper monly partners__section">
       
            		<div class=" fda-slider-m">
				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:75px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda1_d555015b-770a-4989-8b40-953ee3760c00.jpg?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>

				<div class="elem__partner">
					<div class="partner__logo">
						<img style="width:300px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda2.png?v=1654412065
" alt="partner1">
					</div>
					<p>"Historically, it's been homeless shelters and medical centers," said Daniel Jones, president of UV Resources of Santa Clarita, Calif, a manufacturer of the fixtures used by the airport. Sales are up tenfold in the past month. "The demand is though the roof," he said.</p>
				</div>
				<div class="elem__partner">
					<div class="partner__logo">
						<img  style="width:100px" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/fda3.png?v=1654412065" alt="partner1">
					</div>
					<p>A UVC radiation is a known disinfectant for air, water, and nonporous surfaces. UVC radiation has effectively been used for decades to reduce the spread of bacteria, such as tuberculosis. For this reason, UVC lamps are often called "germicidal" lamps.</p>
				</div>
			</div>
      
      </div>
    </section>
    <section id="sectioneight">
        <div class="containern">
            <h2>What’s the problem with traditional UV-C lamps?</h2>
            <p class="segttc">UV-C rays can be great! Many studies have shown that it kills 99.9% of all biological
                pollutants and threats. It’s even been used by airlines and hospitals to make sure
                that their spaces are safe.</p>
            <h3 class="segttc">There’s only one catch, though…</h3>
            <div class="sectioneight">
                <div class="sectioneightleft">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/grap.jpg?v=1654107771" alt="">
                </div>
                <div class="sectioneightright">
                    <p>These rays are most effective when they land on
                        surfaces directly. When they are reflected, however,
                        their efficiency drops. UV-C lamps alone are thus
                        ineffective. A better solution is to use handheld UV-C
                        devices to apply direct light to the desired surfaces. <br>But
                        who has time for that?</p>
                    <p>Plus, it doesn’t disinfect the air.</p>
                </div>
            </div>
            <h3 class="sectioneightbottom"><span>In Uvlizer,</span> we found a solution to these problems.</h3>
        </div>
    </section>
    <section id="sectionfive">
        <div class="containern">
            <h2>The problem with traditional Ozone Generator</h2>
            <div class="sectionfive">
                <div class="sfiveleft">
                    <p>Ozone also can be great. It can react with germs,
                        bacteria, viruses, and other organic compounds,
                        giving its disinfection properties.</p>
                    <p>This is why it’s been actively used in hospitals and
                        operating rooms. However, depending on the size of
                        the room, a traditional ozone generator should run
                        for at least 3 to 10 hours. For a whole house, at least
                        25-30 hours of continuous operation is required to
                        eliminate most pollutants.</p>
                    <p>While an ozone generator is operational, you should
                        also avoid remaining in the room and find another
                        place to stay. Then, you need to wait another 4-6
                        hours for excessive ozone concentrations to
                        dissipate.</p>
                    <p>While an ozone generator is operational, you should
                        also avoid remaining in the room and find another
                        place to stay. Then, you need to wait another 4-6
                        hours for excessive ozone concentrations to
                        dissipate.</p>
                </div>
                <div class="sfiveright">
                    <img class="donly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/germ.jpg?v=1654107771" alt="">
                    <img class="monly" src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/mimage4.png?v=1654170341" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="sectionnine">
        <div class="containern">
            <h2>The UV0254TM difference…</h2>
            <div class="sectionnine">
                <div class="sectionnineleft">
                    <p>By combining the power of UV-C and Ozone you can get the
                        synergistic effect of these two powerful disinfection agents and
                        increase the effectiveness of UVC while decreasing the time needed
                        for Ozone to work. You’d get the same level of sanitization that
                        someone else would get from running an Ozone generator for 25-30
                        hours in 15-60 minutes!</p>
                    <p>Uvlizer is the only device using UVO254™ bulbs, allowing for <strong>whole room disinfection from top to bottom, including the most hard-to reach areas and even the air itself</strong></p>
                    <p>We were mainly inspired by the healthcare industry. They use these
                        two to protect their patients and banish infectious diseases from all
                        rooms. Combining these two natural solutions can help keep your
                        space free from bacteria, viruses, fungus, and molds… <u>all without
                        compromising your health and your family’s health by using toxic
                        chemicals.</u></p>
                    <p>Of course, and given the power of these elements, you should never be
                        in the same room while the lamp is operating.</p>
                </div>
                <div class="sectionnineright">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/light.jpg?v=1654107771" alt="">
                </div>
            </div>
            <div class="sectionninebottom">
                <div class="secninebox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i1.png?v=1654132177" alt="">
                    <p class="price">+ 260 K</p>
                    <p class="feature">Rooms</p>
                    <p class="feature">Disinfected</p>
                </div>
                <div class="secninebox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i2.png?v=1654132177" alt="">
                    <p class="price">+ 260 K</p>
                    <p class="feature">Rooms</p>
                    <p class="feature">Disinfected</p>
                </div>
                <div class="secninebox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/i3.png?v=1654132177" alt="">
                    <p class="price">+ 260 K</p>
                    <p class="feature">Rooms</p>
                    <p class="feature">Disinfected</p>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionten">
        <div class="containern">
          
          <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/user-image-new.png?v=1654576909" style="margin:30px 0;" />
          
            <h2>This is what Uvlizer can do for you:</h2>
            <div class="sectionten">
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/allergy.jpg?v=1654107771" alt="">
                    <p>Alleviate your sneezing, runny nose, and other
                        nasty allergy symptoms by killing indoor
                        allergens - Life will become a lot more enjoyable
                        with clear sinuses and no allergy symptoms. Your
                        indoor air will feel clean and crisp, and you’ll
                        experience a feeling of well-being that you’ve
                        never felt.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection.jpg?v=1654107771" alt="">
                    <p>Chemical-free disinfection - Unlike sprays, and
                        chemical disinfectants, the UVO254™ Lamp is
                        chemical-free. Our bodies are already exposed to
                        tons of toxins. By using Uvlizer’s Lamp, you
                        minimize the use of chemical cleaning products
                        and thus reduce the toxic burden on your body.
                        The UVO254™ Lamp is great for surfaces, the
                        environment, your time, and your wallet.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/disinfection_room.jpg?v=1654107771" alt="">
                    <p>Disinfect your room from top to bottom and
                        everything in between, including the air—no need
                        to wipe out things individually or try to reach
                        hard-to-reach areas. You just turn the Uvlizer on,
                        leave the room and go back to a completely
                        allergen-free, disease-free, and garden-fresh
                        space where you can breathe well and feel safe.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/nose.jpg?v=1654107771" alt="">
                    <p>Remove bad odors from their roots - After using
                        Uvlizer’s UVO254™ Lamp, you’ll enter the room
                        with a fresh smell you’ve never experienced
                        before. The UVO254™ Lamp destroys the root
                        cause of fool smell by breaking down bacteria,
                        cooking oils, toxic air fresheners, tobacco smoke,
                        and even pet odors.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/bulb.jpg?v=1654107771" alt="">
                    <p>Suitable for 100-250 sq ft - The 38W bulb in
                        UVO254™ Bulb can thoroughly disinfect a whole
                        250 sq ft room like a bedroom, living room, or
                        kitchen in 30-60 minutes.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/infection.jpg?v=1654107771" alt="">
                    <p>Enjoy a disease-free home knowing that your
                        furniture and the air you breathe are less likely to
                        transmit infections and diseases like flu and
                        colds.</p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/saftey.jpg?v=1654107771" alt="">
                    <p>Built-in safety feature - In Uvlizer, we have your
                        safety on top of our minds. The UVO254™ Lamp
                        has a safety feature that prevents accidental
                        exposure to UV-C light. The safety timer will make
                        it, so you have plenty of time to leave the room.
                        And even if you switched on the Uvlizer by
                        mistake, you won’t get exposed to UV-C rays
                        immediately. The internal timer will allow you to
                        set the cleaning cycle depending on your needs.
                        You can even set the timer at night, sleep, and
                        wake up to a clean and safer environment.
                        </p>
                </div>
                <div class="sectiontenbox">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/suitable_home.jpg?v=1654107771" alt="">
                    <p>Not Only for Your Home - Uvlizer’s UVO254™ Lamp
                        is also suitable for disinfecting other places you
                        spend time in. Its compact size and lightweight
                        don’t only make it easy to move from room to
                        room, but it can also fit into a medium-sized
                        backpack and allow you to take it with you to the
                        office. Many of our customers use it to fight
                        infections and allergies in their offices, hair salon,
                        spa, dental office, waiting room…
                        </p>
                </div>
            </div>
        </div>
    </section>
    <section id="sectioneleven">
        <h2>Uvlizer VS Alternatives</h2>
        <div class="sectioneleven">
            <div class="secelevenleft">
                <div class="hubcontainerone">
                   <div class="binner">
                  <h3 style="margin-top: 0 !important;">Uvlizer</h3>
                    <ul class="yeslist">
                        <li>UVO254 Technology</li>
                        <li>Combines UVGI and Ozone for best results</li>
                        <li>Breaks allergens and pollutants</li>
                        <li>Disinfects the air from bacteria and viruses</li>
                        <li>Decreases the risk of contamination from surfaces</li>
                        <li>Gets rid of bad smell</li>
                        <li>Kills insects</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="secelevenright">
                <div class="hubcontainertwo">
                    <h3>Alternatives</h3>
                    <h4>Sprays</h4>
                    <ul class="yeslist">
                        <li>Disinfect the surfaces from bacteria and
                            viruses </li>
                        <li>Some sprays can remove allergens if
                            applied directly
                            </li>
                    </ul>
                    <ul class="nolist">
                        <li>Up to $200 per month</li>
                        <li>Filled with toxic chemicals</li>
                        <li>Time-consuming</li>
                        <li>Require physical labor</li>
                        <li>Air not disinfected</li>
                    </ul>
                    <h4>Air Purifiers</h4>
                    <ul class="yeslist">
                        <li>Remove allergens and pollutants from theair (True HEPA only)</li>
                        <li>Some filters disinfect the air</li>
                    </ul>
                    <ul class="nolist">
                        <li>Require ongoing filter replacement</li>
                        <li>Doesn’t disinfect the surfaces</li>
                        <li>Doesn’t disinfect the furniture and surfaces</li>
                        <li>Doesn’t rid you of bad smell</li>
                    </ul>
                    <h4>Deep cleaning services</h4>
                    <ul class="nolist">
                        <li>It’s hard to trust other people to thoroughly
                            clean every corner</li>
                        <li>Expensive and includes an ongoing cost</li>
                        <li>Often inconvenient</li>
                    </ul>
                    <h4>Vacuuming</h4>
                    <ul class="yeslist">
                        <li>Vacuuming</li>
                    </ul>
                    <ul class="nolist">
                        <li>Isn’t effective for dust mites</li>
                        <li>Can transmit allergens to the air and other parts of the house</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    


{% section 'product-landing' %}

<section id="sectiontwelve">
        <div class="containern">
                <h2>Try It Before You Decide With Our 90-Days-No-Questions-<br> Asked Money Back Guarantee.</h2>
            <div class="sectiontwelve">
                <div class="pstrleft">
                    <p>You make an order, receive it, then try it for a while. Suppose,
                        for any given reason you don’t like it. Or maybe your spouse
                        doesn’t like it. Or you might feel like it’s not adding value to
                        your life. Even if you just need your money back because of
                        urgency, reach out to our 24/7 customer support team within
                        90 days of making your purchase, and we will provide a full
                        refund.</p>
                </div>
                <div class="pstrright">
                    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/100_gurantee.jpg?v=1654107771" alt="">
                </div>
            </div>
            <h2>Make Sure To Hurry And Grab Your UVO Lamp <br> Before They Run Out</h2>
            <div class="textcontainer contentmargine">
                <p>Whenever we do these promotions, people start buying 3,5 and even 10 lamps for their homes and offices.
                    So they fly off our warehouse super quickly.</p>
                <p>And once we’re out, we’ll have to take this page down and wait for our next shipment.</p>
                <p>Because of what’s happening in the world and all the logistical issues, that could take months, depending
                    on supply and transportation lines.</p>
                <p>So if you’re interested in getting a UVO Lamp and finally have a cleaner space that’s free from allergy and
                    disease… </p>
                <p>Go ahead and click the “Buy Now” button at the bottom of this page to secure your device today.</p>
            </div>
            <div class="limitedproductbox">
                <div class="context">
                   <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/sun-text.png?v=1654181559">
                </div>
                <a href="#">REDEEM</a>
            </div>
        </div>
    </section>
 <section id="askquestion">
        <div class="containern">
            <h2>Frequently Asked Questions</h2>
            <div class="textcontainer askquestion">
                <div class="asked">
                    <p>Is this a scam? Do you have any evidence it works?</p>
                </div>
                <div class="answer">
                    <p>UVC disinfection is not a scam. Many scientific studies prove that UVC light kills almost all biological pollutants and germs, including CDC and EPA studies. <br><br>

For example, a study published in the "Asian Pacific Journal of Tropical Biomedicine" named "Effect of germicidal UV-C light(254 nm) on eggs and adult of house dust mites, Dermatophagoides pteronyssinus and Dermatophagoides farinae" showed the efficacy of UVC on killing dust mites and their eggs.

 <br><br>The EPA also states that "UV lamps may destroy indoor biological pollutants such as viruses, bacteria, and molds." <br><br>

In addition to UVC, countless research suggests that Ozone fumigation applied at appropriate concentrations could effectively control several disturbing organisms, like dust mites, bacteria, viruses, pests...

UVO254 lamps combine both UVC and Ozone for best effectiveness.</p>
                </div>
                <div class="asked">
                    <p>Is Uvlizer UVO254™ Lamp Safe?</p>
                </div>
                <div class="answer">
                 <p>  UVO disinfection is perfectly safe if it's used correctly.<br><br>

Because exposure to UVC light can damage your skin or eyes (Like exposure to sun rays would do), you need to keep people, pets, and plants out of the room while Uvlizer is working. This is the small price you pay for a 99.99% allergen-free, germ-free and garden-fresh space.<br><br>

                   The Uvlizer Home Disinfection device also has 2 great features to avoid accidental exposure to the UVC light or the Ozone. (1) It has a remote control that can be used from afar, and (2) it has a self-delay timer for up to 30 seconds with beeping sounds allowing one to leave the room before the bulb lights up.</p> 

                </div>
              
              <div class="asked">
                    <p>Why is the UVO254 Lamp better than traditional UVC lamps or traditional Ozone generators?</p>
                 <p>Does it work on mold? </p>
                </div>
                <div class="answer">
                  <p> UVC light does work on mold. However, some molds are more difficult to kill and may take longer exposure times or multiple exposures.</p>
                </div>
              
              <div class="asked">
                    <p>Does it work on bed bugs? Insects? ...
</p>
                </div>
                <div class="answer">
                  <p>es, UVO254 lamps effectively kill bed bugs, pests, and insects. <br><br>

Etymologists (scientists who study insects) and other specialists agree that UVC light can kill insects and pests by mutating their DNA. Also, Ozone in its gaseous form can kill insects and pests primarily by targeting their respiratory system.</p>
                </div>
              
              <div class="asked">
                    <p>What happens to allergens and germs after being broken?
</p>
                </div>
                <div class="answer">
                  <p>The UVO254 lamp breaks down the allergens' DNA completely, making them non-identifiable to the human body and thus ineffective at triggering an allergic reaction.</p>
                </div>
              <div class="asked">
                    <p>How long does the bulb last? What if I need a new bulb?
</p>
                </div>
                <div class="answer">
                  <p>The lifetime of the UV bulb is very long! It’s over 5,000 hours. Think of it this way: if you use it every day, it will take more than 12 years to reach 5,000 hours.<br><br>If you do need a replacement bulb, please contact us and we can order one for you.</p>
                </div>
                   <div class="asked">
                    <p>Does the UV light lose potency over time?
</p>
                </div>
                <div class="answer">
                  <p>The UV output of all light tubes will very slowly decrease over time due to the build-up of residue inside the tube. However, industry experts say that you can operate a light tube continuously for up to a year - or 9,000 hours - before you need to replace it due to diminished UV output. That is well beyond the lifetime of the Uvlizer bulb, which is 5,000 hours and will provide many years of effective sanitization.</p>
                </div>
              
                <div class="asked">
                    <p>Can I use Uvlizer to sterilize my phone or other personal items?
</p>
                </div>
                <div class="answer">
                  <p>Although, it’s better to use our UVBox, which is specifically designed for this, you can use Uvlizer by creating a disinfecting room and  putting everything you want to disinfect once you get home.
</p>
                </div>
            </div>
        </div>
    </section>
    <section id="reviewsection">
        {% assign products = all_products["uvlizer-tower"] %}
<div class="containern">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: products %}
</div>
    </section>


   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <script src="{{ 'slick.js' | asset_url }}" ></script>
<script>
  $(document).ready(function(){
$(document).on('click', '.back-to-top', function(e) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      if (target.length) {
        e.preventDefault();
        var scrollto = target.offset().top;
        var scrolled = 20;

        if ($(this).attr("href") == 'nav') {
          scrollto = 0;
        }

        $('html, body').animate({
          scrollTop: scrollto - 100
        }, 1500);
		  $("body").removeClass("menu-active")
        return false;
      }
    }
  });
    
    
    $(document).on('click', '.hburger', function(e) {
      $("body").toggleClass("menu-active")
      
    })
    
    $('.review-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
        centerMode: true,
	  centerPadding: '60px',
             arrows: false,
      dots:true


});
        $('.fda-slider-m').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
        centerMode: false,
	 
             arrows: true,
      dots:true


});
        $('.fda-slider').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
    arrows: true,
      dots:true


});
    });
</script>