
<style>
#gorgias-chat-container, .needsclick {
  display: none !important;
}
  
#judgeme_product_reviews .jdgm-rev-widg {
    padding: 10px;border: none !important;
}

.main-AA, .main-AA *, .mobile-AA, .mobile-AA *, b, h2, h1, p {
    font-family: 'Open Sans',sans-serif!important;
}
.main-abc, .main-abc *,.mobile-abc , .mobile-abc *{
    font-family: 'Open Sans', sans-serif !important;
}strong{font-weight:600 !important}
#shopify-section-header {
    display: none !important;
}
#shopify-section-top-info-bar {
    display: none !important;
}
#shopify-section-footer {
    display: none !important;
}
.wrapper--bottom {
    display: none !important;
}
#reviewsection{
    padding-top: 50px;
}
.reviewsection{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: 50px;
    justify-content: space-between;
    
}

.main-AA {
    padding: 20px 40px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.revision-AA {
    color: grey;
}
.Left-Side-AA {
    width: 65%;
}
.logo-AA {
    width: 200px;
}
.logo-bottom-AA {
    padding: 20px 0px;
    line-height: 1.2em !important;
    font-size: 2em;font-weight:800 !important
}
.review-AA {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}
.stars-AA {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100px;
}
.review-img-AA {
    width: 18px;
}
.review-dp-AA {
    width: 100%;
    max-width: 35px;
    margin: 0px 12px 0px 0px;
}
.review-text-AA {
    font-size: 0.9em;
}
.first-AA {
    width: 100%;
}
.image-one-AA {
    width: 100%;
    height: auto;
    border-radius: 2px 2px 0px 0px;
}
.image-one-text-AA {
    background-color: #897a5f;
    color: #ffffff;
    padding: 30px 20px;
    margin-top: -10px !important;
    border-radius: 0px 0px 2px 2px;
    line-height: 1.2em !important;
    font-weight: 600 !important;
}
.second-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.second-AA ul {
    padding-left: 0px;
}
.second-AA ul li {
    padding: 15px 0px;
    list-style: none;
    color: #000000;
}
.image-second-AA {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.third-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.third-AA ul {
    padding-left: 0px;
}
.third-AA ul li {
    padding: 15px 0px;
    list-style: none;
    color: #000000;
}
.video-AA {
    border-radius: 2px;
    width: 100%;
}
.fourth-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.fourth-AA ul {
    padding-left: 0px;
}
.fourth-AA ul li {
    padding: 15px 0px;
    list-style: none;
    color: #000000;
}
.fifth-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.fifth-AA ul {
    padding-left: 0px;
}
.fifth-AA ul li {
    padding: 8px;
    list-style: none;
    color: #000000;
    display: flex;
    align-items: center;
}
.fifth-AA ul li svg {
    margin-right: 20px;
    flex-shrink: 0;
}
.fifth-text-AA {
    padding: 20px 0px 0px 0px;
}
.image-third-AA {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.fifth-container-text-AA {
    padding: 15px 0px;
}
.sixth-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.sixth-heading-AA {
    font-size: 1.5em;
}
.ul-AA {
    padding-left: 0px;
}
.ul-AA li {
    padding: 15px 0px;
    list-style: none;
    color: #000000;
}
.image-fourth-AA {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.seventh-AA {
    padding-top: 10px;
    font-size: 1.2em;
}
.seventh-container-AA {
    width: 100%;
    background-color: #edf9ff;
    border: 2px solid #e26c4d;
    font-size: 0.9em;
    padding: 20px;
}
.seventh-heading-AA {
    font-size: 1.5em;
}
.seventh-text-AA {
    padding: 20px 0px 40px 0px;
}
.seventh-wrapper-AA {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seventh-button-a-AA {
    margin-top: 15px;
    background-color: #eb6054;
    padding: 15px 30px;
    border-radius: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500 !important;
}
.seventh-button-a-AA:hover {
    color: #ffffff !important;
}


.Right-Side-AAA {
    width: 30%;
    margin-top: 100px;
}
.right-first-AA {
    box-shadow: 0px 0px 4px #ededed;
    position: sticky;
    top: 20px;
}
.first-text-AA {
    text-align: center;
    padding: 12px 0px;
    background-color: #292929;
    color: #ffffff;
    font-weight: 500 !important;
    border-radius: 2px 2px 0px 0px;
}
.bottom-first-AA {
    border-radius: 0px 0px 2px 2px;
    padding: 20px 10px;
    margin: -5px 0px 15px 0px; 
}
.second-img-AA {
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.right-button-a-AA {
    margin-top: 10px;
    background-color: #f7cb01;
    padding: 15px 30px;
    border-radius: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
}
.right-button-a-AA:hover {
    color: #ffffff !important;
}
.right-second-AA {
    display: none;
    position: sticky;
    top: 20px;
}

.removeNOW {
    display: none;
}
.showNOW {
    display: block;
}
.Right-Side-AAA.scrolled .right-second-AA {
    display: block !important;
}
.Right-Side-AAA.scrolled .right-first-AA {
    display: none !important;
}
.mobile-AA {
    display: none;
    background-color: #004569;
    padding: 15px 30px;
    text-align: center;
    position: sticky;
    bottom: 0px;
}
.mobile-button-AA {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: #004569;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
}
.mobile-button-AA:hover {
    color: #004569 !important;
}

@media (max-width: 850px) {
.mobile-AA {
    display: block;
}
.Right-Side-AAA {
    display: none;
}
.main-AA {
    position: relative;
}
.Left-Side-AA {
    width: 100%;
}
.logo-AA {
    width: 150px;
}
.main-AA {
    padding: 20px 20px;
}

}
</style>

<style>
  .Advertorial-DD {margin-top: 20px;}
  .Advertorial-DD p {font-family: 'Open Sans', sans-serif !important;color: #808080;text-align: center;font-size: 0.9em;margin: 0px !important;}
  @media (max-width: 900px) {.Advertorial-DD p {font-size: 0.8em}}
</style>
<div class="Advertorial-DD"><p>Advertorial</p></div>

{% section 'advertorial_top' %}

<section class="main-AA" style="padding-top: 0px;">
<div class="Left-Side-AA">
  <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/uvilizer-logo_300x.png" class="logo-AA" alt="uvilizer" width="100%" height="auto" loading="eager"/>
  <h1 class="logo-bottom-AA">From Hospital Wards to American Homes: The Revolutionary Technology Giving Back the Joy of Allergen-Free Life!</h1>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="review-AA">
     <div class="stars-AA">
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/stars_71ca189c-7bf0-47a9-b531-ce7038caca0d_25x.png" class="review-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/stars_71ca189c-7bf0-47a9-b531-ce7038caca0d_25x.png" class="review-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/stars_71ca189c-7bf0-47a9-b531-ce7038caca0d_25x.png" class="review-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/stars_71ca189c-7bf0-47a9-b531-ce7038caca0d_25x.png" class="review-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/stars_71ca189c-7bf0-47a9-b531-ce7038caca0d_25x.png" class="review-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
     </div>
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/review-author_50x.jpg" class="review-dp-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
      <div class="review-text-AA"><span class="revision-AA">by</span> &nbsp; <strong>ANNA SMITH</strong> &nbsp; <span class="revision-AA">july 26th, 2023 in</span> &nbsp; <strong>Lifestyle & Tech</strong></div>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="first-AA">
      <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/Image_3.4_900x.jpg" class="image-one-AA" alt="uvilizer" width="100%" height="auto" loading="eager"/>
      <h3 class="image-one-text-AA">Did you know there's a new portable device that uses UVO technology to eradicate allergy-causing pollutants from your room?</h3>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="second-AA">
     <ul>
      <li><strong>FOR THE PAST FEW YEARS, THE ALLERGY RELIEF INDUSTRY HAS HAD JUST A FEW BIG COMPANIES WHO COULD SET ANY PRICES THEY WANT.</strong></li>
      <li>These companies mainly sell products that only deal with symptoms rather than tackling the root causes.</li>
      <li>Now, a revolutionary startup is shaking up this $52 billion dollar industry.</li>
      <li>A company called Uvlizer has figured out a way to offer an innovative product at a fraction of the cost.</li>
      <li>As the allergy season peaks, Uvlizer is quickly becoming the talk of the town, emerging as the ultimate essential tool of 2023.</li>
     </ul>

     <span class="second-container-AA">
       <h2>What Is It?</h2>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/second_900x.jpg" class="image-second-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
     </span>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="third-AA">
     <ul>
      <li>Meet the <strong>Uvlizer</strong></li>
      <li>In partnership with renowned high-tech light technology experts, Uvlizer has engineered a groundbreaking product.</li>
      <li>It’s simple to use, portable, energy-efficient, and, most importantly, powerful against indoor allergens.</li>
      <li>Their mission was to design an affordable, maintenance-free device that effortlessly eradicates indoor allergens. And they’ve done it. Uvlizer has stunned the industry with its extraordinary innovation.</li>
      <li>So, what can it do? Practically what <strong>no other</strong> ‘air purifier’ can — disinfect the air in any room, eliminate dust mites and their eggs on surfaces, remove unpleasant odors, and more...</li>
      <li>But what sets Uvlizer apart is its scientifically proven <strong>UVO technology</strong> and its simplicity of use <strong>(100% filter-free).</strong></li>
      <li>With no costly filter replacements, no maintenance, and its hospital-grade technology that’s proven to eradicate <strong>up to 97%<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" style="color: #1155cc;font-size: 0.7em;vertical-align: super;margin-left: 2px;">[R]</a></strong> of dust mites — it’s considerably <strong>LESS expensive than leading allergy relief solutions —</strong> you can easily disinfect indoor air WITHOUT the outrageous hassle.</li>
     </ul>

     <span class="third-container-AA">
       <h2>How Does It Work?</h2>
       <video src="https://cdn.shopify.com/videos/c/o/v/1c1b70ae88fd492bb8219764e79ca572.mp4"
              type="video/mp4" class="video-AA" loop muted playsinline autoplay disablepictureinpicture controlslist="nodownload" height="auto">
       </video>
     </span>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="fourth-AA">
      <ul>
        <li><strong>Uvlizer harnesses the power of UVO disinfection: a scientific process that sterilizes the air and surfaces in your room.</strong></li>
        <li>It’s incredibly easy to use. Just turn it on and leave the room. That’s it!</li>
        <li>Don’t underestimate Uvlizer’s compact size. It may be just 1/3rd the size of an air purifier, but its performance is unrivaled.</li>
        <li>Once activated, the UVO bulb starts emitting UV-C rays at the most studied and optimum wavelength for maximum disinfection efficacy (254nm) combined with Ozone oxidative properties.</li>
        <li>These potent components are proven to eradicate up to 97%<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609379/" style="color: #1155cc;font-size: 0.7em;vertical-align: super;margin-left: 2px;">[R]</a> of dust mites, bacteria, germs, bugs, and unpleasant odors from the air and surfaces.</li>
        <li><strong>This scientific process helps reduce the overall quantity of dust, allergens, and other particles present in the air and surfaces.</strong></li>
        <li>Uvlizer is portable, so you can use it anywhere you want. It’s perfect for your office, living room, bedroom, or anywhere else you frequent.</li>
        <li>And because it’s so affordable, most Americans buy at least one <a href="https://uvlizer.co/pages/uvlizer-home-disinfection-device-2" style="color: #1155cc;">Uvlizer</a> for every room in their house.</li>
        <li>No need to worry about noise either. Uvlizer operates whisper-quietly.</li>
      </ul>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="fifth-AA">
      <h2 style="font-weight: 700 !important;">What Exactly Can Uvlizer Do?</h2>
      <div class="fifth-text-AA">More than you think!</div>
      <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Eliminates dust mites,</strong>&nbsp; their eggs, mold, viruses, and other biological threats.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Alleviates sneezing,</strong>&nbsp; runny nose, and other unpleasant allergy symptoms.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Purifies indoor air,</strong>&nbsp; making it fresher, cleaner, and easier to breathe.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Reduces brain fog,</strong>&nbsp; clearing your head.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Safely removes pests</strong>&nbsp; that might be lurking in the basement or under your bed.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Eliminates foul odors</strong>&nbsp; caused by bacteria, cooking oils, tobacco smoke, and pets.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Makes your home safer</strong>&nbsp; by disinfecting surfaces and air simultaneously.</div></li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/><g id="SVGRepo_iconCarrier"><path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8" stroke="#0eca40" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></g></svg><div><strong>Decreases the risk of infection</strong>&nbsp; and transmission of diseases indoors.</div></li>
      </ul>

      <span class="fifth-container-AA">
        <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/1234_new_1234_900x.jpg" class="image-third-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
        <div class="fifth-container-text-AA">Dust and allergens are a problem everywhere indoors. So why not promote cleaner air and surfaces in every room? Most Uvlizer customers order multiple units and use one in each room.</div>
      </span>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="sixth-AA">
    <h2 style="font-weight: 700 !important;">Frequently Asked Questions</h2>
      <ul class="ul-AA">
        <li>
          <strong>Q: Do you have any evidence that it works?</strong><br>
          A: Absolutely. UVO technology is not a scam. Numerous scientific studies, including those by the CDC and EPA, prove that UVC light kills nearly all biological pollutants and germs, including dust mites. Plus, my grandfather, who used to get sick all the time due to allergic reactions, now wakes up full of energy every day after using two of our lamps!
        </li>
        <li>
          <strong>Q: Does Uvlizer require any installation?</strong><br>
          A: No, it starts working as soon as you turn it on. It doesn’t require any maintenance or upkeep. It’s as simple as can be!
        </li>
        <li>
          <strong>Q: Do I need to purchase replacement filters?</strong><br>
          A: No, Uvlizer uses advanced UVO technology, which is 100% filter-free. There are no hidden costs for us.
        </li>
        <li>
          <strong>Q: Does Uvlizer disinfect only small areas?</strong><br>
          A: Absolutely not. The UVO technology helps you disinfect a room up to 250 square feet from top to bottom.
        </li>
        <li>
          <strong>Q: How does Uvlizer differ from air purifiers?</strong><br>
          A: While traditional air purifiers can help clean the air, they don't go deep  inside the surfaces to eliminate allergens and pollutants living there. In contrast, Uvlizer not only disinfects both the air and surfaces simultaneously but also doesn't require any expensive filter replacements or upkeep.
        </li>
      </ul>

      <h2 style="font-weight: 700 !important;">How Can It Be So Affordable?</h2>

      <ul class="ul-AA">
        <li>Unlike big brands filled with expensive promotions and mark-ups from middlemen, <a href="https://uvlizer.co/pages/uvlizer-home-disinfection-device-2" style="color: #1155cc;">Uvlizer</a>  on the other hand, does their business online directly to customers like you.</li>
        <li> This approach eliminates unnecessary expenses on fancy ads and promoter fees, allowing them to run online-only promotions and pass the savings directly to you.</li>
        <li>Plus, they offer bulk discounts on Uvlizer, the more devices you buy, the more you save.</li>
        <li>It's a smart solution for those seeking allergy relief without breaking the bank.</li>
      </ul>

      <span class="sixth-container-AA">
       <h2>Conclusion: Is It Worth It?</h2>
       <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/abc2_900x.jpg" class="image-fourth-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
      </span>

      <ul class="ul-AA">
        <li>Yes, Uvlizer is indeed an affordable and low-maintenance solution for instant allergy relief.</li>
        <li>Don’t delay in placing your order for Uvlizer - they sell out fast!</li>
        <li>You’ll quickly understand why thousands of Americans have been singing the praises of Uvlizer!</li>
        <li>The cherry on top is the price. If they’re still in stock, you should definitely grab one before they’re all gone.</li>
      </ul>
    </div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

    <div class="seventh-AA">
      <h2 style="font-weight: 700 !important;">How Do I Get Uvlizer?</h2>
      <div class="seventh-text-AA">Get your Uvlizer from their official website, linked below.</div>

      <div class="seventh-wrapper-AA">
       <div class="seventh-container-AA">As of {{ "now" | date: "%b %d %Y" }}, Uvlizer has experienced multiple sell-out occurrences due to its immense popularity and positive feedback. Uvlizer is now presenting an exclusive “Internet Only Promotion”, along with a bundled discount. You can rest assured with a 90-Day Guarantee, simply covering a nominal processing fee and return shipping for any potential returns or exchanges.</div>

       <a class="seventh-button-a-AA" href="https://uvlizer.co/pages/uvlizer-home-disinfection-device-2">Check Availibility >></a>
      </div>
    </div>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxx -->

<div class="Right-Side-AAA">
  <div class="right-first-AA">
    <div class="first-text-AA">About the Author</div>
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/right_first_500x.jpg" class="first-img-AA" alt="uvilizer" width="100%" height="auto" loading="eager"/>
    <div class="bottom-first-AA"><em>Anna Smith is an avid garden lover but also adores the latest lifestyle tech. She has two granddaughters, aged 4 and 7, whom she adores. Anna Smith has a soft spot for French wine and appreciates a good reading routine.</em></div>
  </div>

  <div class="right-second-AA">
    <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/abc1_500x.jpg" class="second-img-AA" alt="uvilizer" width="100%" height="auto" loading="lazy"/>
    <a class="right-button-a-AA" href="https://uvlizer.co/pages/uvlizer-home-disinfection-device-2">Check Availibility >></a>
  </div>
</div>
</section>

<div class="mobile-AA">
  <a class="mobile-button-AA" href="https://uvlizer.co/pages/uvlizer-home-disinfection-device-2">Apply Discount & Check Availability</a>
</div>

{% comment %}{{ content_for_header }}{% endcomment %}
{% assign domcontentloadeda = "document.addEventListener('DOMContentLoaded'" %}
{% assign startasyncLoadinga= "document.addEventListener('StartAsyncLoading'" %}
{% assign domcontentloaded  = 'e.addEventListener("DOMContentLoaded"' %}
{% assign startasyncLoading = "e.addEventListener('StartAsyncLoading'" %}
{% assign rapp = ", asyncLoad" %}
{% assign napp = ", function(){}" %}
{% assign rappload = "if(window.attachEvent)" %}
{% assign nappload = "document.addEventListener('StartAsyncLoading',function(event){asyncLoad();});if(window.attachEvent)" %}
{% assign rstorefrontload = "var customDocumentWrite = function(content)" %}
{% assign nstorefrontload = "document.addEventListener('StartKernelLoading', function() { document.dispatchEvent(new CustomEvent('StartShopifyLoading')); var customDocumentWrite = function(content)" %}
{% assign rstorefront = "document.getElementsByTagName('head')[0].appendChild(eventsListenerScript)" %}
{% assign nstorefront = "document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);})" %}
{% if template == 'cart' %}
{{ content_for_header | replace: 'src=', 'data-src=' | replace: domcontentloadeda, startasyncLoadinga  | replace: domcontentloaded, startasyncLoading | replace: rapp, napp  | replace: rappload, nappload }}
{% else %}
{{ content_for_header | replace: 'src=', 'data-src=' | replace: domcontentloadeda, startasyncLoadinga  | replace: domcontentloaded, startasyncLoading | replace: rapp, napp  | replace: rappload, nappload | replace: rstorefrontload, nstorefrontload | replace: rstorefront, nstorefront }}
{% endif %}
<script>
var activityEvents=["mousedown","mousemove","keydown","scroll","touchstart","click","keypress","touchmove"];
    activityEvents.forEach(function(e){window.addEventListener(e,functionCustomJS,!1)});
let flag = false;
function functionCustomJS(){
if (flag == false) {
    flag = true;
var script_loaded=!1;function loadJSscripts(){setTimeout(function(){if(!script_loaded){script_loaded=!0;var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)null!==t[i].getAttribute("data-src")&&(t[i].setAttribute("src",t[i].getAttribute("data-src")),delete t[i].dataset.src);var e=document.getElementsByTagName("link");for(i=0;i<e.length;i++)null!==e[i].getAttribute("data-href")&&(e[i].setAttribute("href",e[i].getAttribute("data-href")),delete e[i].dataset.href);setTimeout(function(){document.dispatchEvent(new CustomEvent("StartAsyncLoading")),document.dispatchEvent(new CustomEvent("StartKernelLoading"))},400)}},9e3)}function loadJSscriptsNow(){if(!script_loaded){script_loaded=!0;var t=document.getElementsByTagName("script");for(i=0;i<t.length;i++)null!==t[i].getAttribute("data-src")&&(t[i].setAttribute("src",t[i].getAttribute("data-src")),delete t[i].dataset.src);var e=document.getElementsByTagName("link");for(i=0;i<e.length;i++)null!==e[i].getAttribute("data-href")&&(e[i].setAttribute("href",e[i].getAttribute("data-href")),delete e[i].dataset.href);setTimeout(function(){document.dispatchEvent(new CustomEvent("StartAsyncLoading")),document.dispatchEvent(new CustomEvent("StartKernelLoading"))},400)}}var activityEvents=["mousedown","mousemove","keydown","scroll","touchstart","click","keypress","touchmove"];activityEvents.forEach(function(t){window.addEventListener(t,loadJSscriptsNow,!1)}),document.addEventListener("load",loadJSscripts,!1),document.addEventListener("onload",loadJSscripts,!1),null!=window.addEventListener?window.addEventListener("load",loadJSscripts,!1):null!=window.attachEvent?window.attachEvent("onload",loadJSscripts):window.onload=loadJSscripts;}}
</script>

 {% render 'judgeme_core' %}
 <section id="reviewsection"  style="padding: 0px;width: 100%;max-width: 1200px;margin: auto;">
   {% assign products = all_products["Uvlizer-tower"] %}
    <div class="containern" style="padding: 0px;">
     {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: products %}
    </div>
 </section>


<script>
 document.addEventListener("scroll", (event) => {
  var scrolValue = window.scrollY;
   if (scrolValue > 1200) {
     document.querySelector("#shopify-section-Advertorial2 > section > div.Right-Side-AAA").classList.add("scrolled")
   } else {
     document.querySelector("#shopify-section-Advertorial2 > section > div.Right-Side-AAA").classList.remove("scrolled")
   }
 });
</script>
