{% render 'VideoTestimonialGuide' %}

<section class="main-{{ section.id }}">
  <div class="page-width-{{ section.id }}">
    <div class="top-VTG">
     <img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/1vtg_700x.jpg" class="main-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy">
     <h1 class="h1-VTG">Your Guide to Creating a Stellar Uvlizer Video Testimonial</h1>
     <p class="p-VTG">We're thrilled that you're considering sharing your UvLizer experience with us! To help you create a video testimonial that shines, we've put together a few tips:</p>
    </div>

    <div class="bottom-VTG">
      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">1</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG">
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/2vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">1</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="c-VTG left-VTG">
          <h3 class="h3-VTG">Find a Quiet, Well-Lit Space</h3>
          <p class="text-VTG">Choose a location with good natural light and minimal background noise. This will ensure that you're clearly visible and audible in the video.</p>
        </div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">2</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG mobile-right-VTG">
        <div class="c-VTG right-VTG">
          <h3 class="h3-VTG">Use a Stable Camera Setup</h3>
          <p class="text-VTG">If possible, use a tripod or a flat surface to stabilize your camera or smartphone. This will help prevent shaky footage.</p>
        </div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">2</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/3vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">3</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG">
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/4vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">3</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="c-VTG left-VTG">
          <h3 class="h3-VTG">Frame Your Shot</h3>
          <p class="text-VTG">Position yourself in the center of the frame. Make sure your face and the UvLizer are clearly visible.</p>
        </div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">4</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG mobile-right-VTG">
        <div class="c-VTG right-VTG">
          <h3 class="h3-VTG">Speak Clearly and Concisely</h3>
          <p class="text-VTG">Talk about your experience with the UvLizer. What problem did it solve for you? How has it improved your life? Try to keep your testimonial under 2 minutes.</p>
        </div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">4</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/5vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">5</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG">
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/6vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">5</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="c-VTG left-VTG">
          <h3 class="h3-VTG">Show the Product</h3>
          <p class="text-VTG">If possible, show the UvLizer in action. This could be as simple as showing it in the room where you use it most.</p>
        </div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">6</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG mobile-right-VTG">
        <div class="c-VTG right-VTG">
          <h3 class="h3-VTG">Be Natural</h3>
          <p class="text-VTG">Don't worry about sounding like a professional presenter. Just be yourself and share your genuine experience.</p>
        </div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">6</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/7vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
       </div>
      </div>

      <div class="block-VTG">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">7</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG">
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/8vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">7</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="c-VTG left-VTG">
          <h3 class="h3-VTG">Review Your Video</h3>
          <p class="text-VTG">Watch your video before submitting it. Make sure you can be clearly heard and seen.</p>
        </div>
       </div>
      </div>

      <div class="block-VTG" style="margin-bottom: 0px;">
       <div class="b-VTG mobile-VTG"><div class="justWrappere"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">8</h3><div class="border-VTG bottom-border-VTG"></div></div></div>

       <div class="mobile-custom-VTG mobile-right-VTG">
        <div class="c-VTG right-VTG">
          <h3 class="h3-VTG">Submit Your Video</h3>
          <p class="text-VTG">Once you're happy with your video, submit it through the provided Typeform link.</p>
        </div>
        <div class="b-VTG"><div class="border-VTG top-border-VTG"></div><h3 class="number-VTG">8</h3><div class="border-VTG bottom-border-VTG"></div></div>
        <div class="a-VTG"><img src="https://cdn.shopify.com/s/files/1/0519/0238/2231/files/9vtg_800x.jpg" class="image-VTG" alt="uvlizer" width="100%" height="100%" loading="lazy"></div>
       </div>
      </div>

      <a class="button-VTG" href="https://form.typeform.com/to/RJwSYt3i">Proceed to the video submission<svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 24.00 24.00" id="_24x24_On_Light_Next" data-name="24x24/On Light/Next" fill="#000000" stroke="#000000" stroke-width="0.00024000000000000003" style="&#10; fill: #ffffff;&#10;"><g id="SVGRepo_bgCarrier" stroke-width="0"/><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.048"/><g id="SVGRepo_iconCarrier"><rect id="view-box" width="24" height="24" fill="#141124" opacity="0"/><path id="Shape" d="M10.22,9.28a.75.75,0,0,1,0-1.06l2.72-2.72H.75A.75.75,0,0,1,.75,4H12.938L10.22,1.281A.75.75,0,1,1,11.281.22l4,4a.749.749,0,0,1,0,1.06l-4,4a.75.75,0,0,1-1.061,0Z" transform="translate(4.25 7.25)" fill="#141124" style="&#10; fill: #ffffff;&#10;"/></g></svg></a>
    </div>

    <p class="p-bottom-VTG">Thank you for taking the time to share your Uvlizer story! We can't wait to hear about your experience. And remember, a special discount awaits you as a token of our appreciation! We hope these tips help you create a video testimonial that you're proud of. If you have any questions or need further assistance, don't hesitate to reach out to us.</p>
  </div>
</section>
