{% render 'homepage-hero-section-new' %}
{% comment %}{% render 'homepage-hero-section' %}{% endcomment %}

{% render 'homepage-hero-slider-new' %}
{% comment %}{% render 'homepage-hero-slider' %}{% endcomment %}

{% render 'homepage-probably-seen-new' %}
{% comment %}{% render 'homepage-probably-seen' %}{% endcomment %}

{% render 'homepage-featured-product' %}

{% render 'homepage-icons-section-new' %}
{% comment %}{% render 'homepage-icons-section' %}{% endcomment %}

{% render 'homepage-why-uvilizer-section-new' %}
{% comment %}{% render 'homepage-why-uvilizer-section' %}{% endcomment %}

{% render 'homepage-video-snippet-new' %}
{% comment %}{% render 'homepage-video-snippet' %}{% endcomment %}

{% render 'homepage-bundles-benefits' %}

{% section 'homepage-featured-collection' %}

{% render 'homepage-follow-us' %}

{% render 'homepage-bottom-banner-new' %}
{% comment %}{% render 'homepage-bottom-banner' %}{% endcomment %}

{% render 'homepage-bottom-reviewsection-new' %}
{% comment %}{% render 'homepage-bottom-reviewsection' %}{% endcomment %}

<style>
   
    .judge-me-container{
        max-width: 1440px;
        width: 100%;
        margin: auto;
        padding: 0 15px;
    }

    span.go-cart__trigger.js-go-cart-trigger {
        display: flex
    ;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }
    span.go-cart__trigger.js-go-cart-trigger .count.donly {
        display: flex !important;
        padding-left: 3px;
        max-width: max-content;
    }
    .reviews-text {
        margin-top: -20px;
        /*display: block !important;*/
    }
    .watch-item {
        display: none;
    }

    .product__page--info .bundle-wrapper .row-block.first-block .blk:first-child {
        visibility: hidden;
    }
    .bundle-wrapper .first-box.blk p.old-price .igComparePrice {
        visibility: hidden;
    }
    .blk.pselection.first-box.b1.not-availbe {
        margin-top: -85px;
        padding-top: 90px;
    }

    .product-slider-wrapper .product-slider__badge {
        max-width: 65px;
        top: -29px;
        right: 0;
    }
    @media screen and (min-width: 990px){
        .product-slider-wrapper .product-slider__badge {
            max-width: 94px;
            top: -30px;
            right: -20px;
        }
    }
    .template--home-page-new .new_message {
        visibility: hidden;
        margin-top: -60px;
    }

</style>

<div id = '#judgemeproductreviews' class="judge-me-container">
    {% comment %}{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product:all_products['uvlizer-tower'] %}{% endcomment %}
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper('.lineSwiper', {
        slidesPerView: 'auto',
        spaceBetween: 28,
        loop: true,
        allowTouchMove: false,
    });

    var mySwiper = new Swiper('.probably-seen__cards', {
        spaceBetween: 35,
        slidesPerView: 1,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            768: {
                slidesPerView: 'auto',
            },
        },
    });

    var mySwiper = new Swiper('.probably-seen__partners', {
        spaceBetween: 24,
        loop: true,
        slidesPerView: 'auto',
        breakpoints: {
            768: {
                spaceBetween: 32,
            },
        },
    });
</script>

{{ 'index.js' | asset_url | script_tag }}
